.categoryPageContainer{
    width: 100%;
    height: auto;
    font-family: Poppins;
}

.tab_panel_container{
    width : 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

.tab_panel{
    width : 95%;
}

.nav-link.active {
    color: black!important;
    background-color: lightgray !important;
    font-size: 1.3rem !important;
    width:100% !important;

  }

  .nav-link{
    color: black!important;
    font-size: 1.3rem !important;
    width:100% !important;


  }

  .mytab{
      padding-top: 5%;
  }