@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: 'Roboto', sans-serif;
}

.one_product_container {
  width: 100%;
  height: auto;
}

.product_card {
  height: auto;
  width: 100%;
  padding-top : 10% ;
  display: flex;
  justify-content: center;
  align-items : center;

}

.p_c_wrapper {
  width: 950px;
  height: auto;
  display: flex;
  border: solid lightgray 1px;
  padding: 2%;
  border-radius: 20px;
  background-color: white;
}

.p_c_left_part {
  width: 40%;
  height: inherit;
  display: table;
}

.r_prod_desc {
  width: 100%;
  display: block;
}

<<<<<<< HEAD
.prod_desc_price_button {
  display: flex;
  width: 100%;
}
=======
.la_marque {
  text-align: center;
  font-size: 1.3rem; }

.separator {
  margin-top: 10px;
  border: 1px solid #C3C3C3; }

.parag {
  text-align: justify;
  padding-top: 10px;
  font-size: 1rem;
  line-height: 150%;
  color: #4B4B4B; }

.the_price {
  font-size: 3rem;
  color: darkred; 
  position: absolute;

  
  margin-top: 3%;
  margin-left:545px;
>>>>>>> 34ae49ec8fe088585389c5c7c3b2bf0ac6ee63d4

.prod_desc_price {
  color: #06a9f8;
  font-size: 30px;
  width: auto;
}

<<<<<<< HEAD
.prod_desc_buy{
  display : block;
  width: 80%;
  text-align: center;
  color : gray;
}

.comments_space_container{
  width : 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}
.comments_space{
  width:80%;
  background-color: lightgray;
  border-radius: 10px;
=======
.price_space{
  position: relative;
  width: 100%;
  height: 100px;
  padding-left: 20%;
>>>>>>> 34ae49ec8fe088585389c5c7c3b2bf0ac6ee63d4
}