@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: 'Roboto', sans-serif;
}

.one_product_container {
  width: 100%;
  height: auto;
}

.product_card {
  height: auto;
  width: 100%;
  padding-top : 10% ;
  display: flex;
  justify-content: center;
  align-items : center;

}

.p_c_wrapper {
  width: 950px;
  height: auto;
  display: flex;
  border: solid lightgray 1px;
  padding: 2%;
  border-radius: 20px;
  background-color: white;
}

.p_c_left_part {
  width: 40%;
  height: inherit;
  display: table;
}

.r_prod_desc {
  width: 100%;
  display: block;
}

.prod_desc_price_button {
  display: flex;
  width: 100%;
}

.prod_desc_price {
  color: #06a9f8;
  font-size: 30px;
  width: auto;
}

.prod_desc_buy{
  display : block;
  width: 80%;
  text-align: center;
  color : gray;
}

.comments_space_container{
  width : 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}
.comments_space{
  width:80%;
  background-color: lightgray;
  border-radius: 10px;
}