:root{
    --vert:#029688;
    --blue-ciel : #06a9f8;
    --rouge : #ec4079;
    --blue-2: #e4f2ff;
    --white:#ffffff;
    --beige:#F3EEE5;
    --black:#000000;
  
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf');
  }


